#jinja2: lstrip_blocks: "True", trim_blocks: "True"

terraform {
  backend "s3" {
    bucket = "{{ terraform.state.bucket }}"
    key    = "{{ terraform_state_key }}"
    region = "{{ aws.region }}"
  }
}