#jinja2: lstrip_blocks: "True", trim_blocks: "True"

terraform {
  backend "s3" {
    bucket = "{{ aws_tfstate_bucket }}"
    key    = "{{ aws_tfstate_bucket_path }}"
    region = "{{ aws.region }}"
  }
}