#jinja2: lstrip_blocks: "True", trim_blocks: "True"

terraform {
  required_version = "~> {{ terraform.version }}"
  required_providers {
    aws = "~> {{ providers.aws.version }}"
  }
}

provider "aws" {
  version = "~> {{ providers.aws.version }}"
  region  = "{{ aws.region }}"
}
